{% extends "Ecommerce/home.html" %}

{% block body %}

    {% for order in orders %}
         <ul class="collection">
    <li class="collection-item avatar">
      <span class="title">Washer: {{ order.last_name }} {{ order.first_name }}</span>
      <p>Ticket: {{ order.ticket.name }} Price: {{ order.ticket.price }} GEL.<br>
      </p>


    </li>
  </ul>

    {% endfor %}
        <a href="{% url 'createOrder' %}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

{% endblock %}

